.views_edit {
  md-tabs {
    margin-bottom: 15px;
    position: relative;
    z-index: 1;
  }
  .tabs {
    margin-left: -15px;
    margin-right: -15px;
    margin-top: -15px;
  }
  .addBudget {
    position: fixed;
    bottom: 15px;
    right: 15px;
  }
  .tab-content {
    padding: 0 15px;
  }
  .detail {
    position: relative;
    @include clearfix;
    .removeBudget {
      position: absolute;
      right: 7px;
      top: 50%;
      height: 30px;
      width: 30px;
      margin-top: -15px;
      md-icon {
        position: relative;
        left: -3px;
        top: -2px;
        line-height: 30px;
      }
    }
    md-input-group {
      float: left;
      width: 50%;
      input {
        width: 100%;
      }
      &:first-child {
        padding-right: 30px;
      }
    }
  }
}