.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 59;
  height: 60px;
  background: #2ECC71;
  .navIcon {
    position: absolute;
    top: 0;
    left: 0;
  }
  .title {
    text-align: left;
    color: #fff;
    line-height: 60px;
    position: relative;
    margin-left: 60px;
    font-size: 18px;
    font-weight: 300;
  }
  &.no-title {
    background: transparent;
    .title {
      display: none;
    }
  }
}

.md-sidenav-left {
  .profile {
    height: 150px;
    border-bottom: 1px solid rgba(#000, .5);
    position: relative;
  }
  .links {
    position: relative;
    button {
      display: block;
      height: 60px;
      text-decoration: none;
      @include clearfix;
      border-bottom: 1px solid #ccc;
      width: 100%;
      text-transform: none;
      font-weight: 300;
      padding: 0;
      border-radius: 0;
      .icon {
        line-height: 60px;
        color: #666;
        width: 60px;
        font-size: 25px;
        text-align: center;
        float: left;
      }
      .desc {
        font-size: 16px;
        color: #666;
        line-height: 60px;
        float: left;
      }
      &.selected {
        background: #4284F6;
        .icon, .desc {
          color: #fff;
        }
        &:hover {
          background-color: darken(#4284F6, 10);
        }
      }
    }
  }
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #5E77D5;
    opacity: .3;
  }
  .pic {
    display: none;
    position: absolute;
    bottom: 3px;
    left: 3px;
    width: 70px;
    height: 70px;
    background-size: cover;
    z-index: 10;
  }
  .name {
    position: absolute;
    background: rgba(#000, .6);
    width: 100%;
    height: 40px;
    padding-left: 15px;
    line-height: 40px;
    left: 0px;
    bottom: 0px;
    color: #fff;
    z-index: 1;
    font-weight: 300;
  }
  .background {
    position: absolute;
    top: 0;
    left: 0;
    background-size: cover;
    width: 100%;
    height: 100%;
  }
}